.container {
    width: 100%;
    background-color: whitesmoke;
    /* max-width: 320px; */
}

.content {
    width: 100%;

    position: fixed;
    top: 44px;
    bottom: 44px;

    overflow: auto;
}